mixin picture-maxw100p (className='', set='', title='', height='', width='')
	picture(class=className)
		source(srcset='img/webp/index/'+set+'.webp' type='image/webp')
		source(srcset='img/index/'+set+'.jpg' type='image/jpeg')
		img.max-w-100p.obj-c(src='./img/index/'+set+'.jpg' loading='lazy' alt=title height=height width=width)

mixin picture-class-w100p (className='', set='', title='', height='', width='')
	picture
		source(srcset='img/webp/index/'+set+'.webp' type='image/webp')
		source(srcset='img/index/'+set+'.jpg' type='image/jpeg')
		img.w-100p.obj-c(class=className src='./img/index/'+set+'.jpg' loading='lazy' alt=title height=height width=width)

mixin picture-w100p (className='', set='', title='', height='', width='')
	picture(class=className)
		source(srcset='img/webp/index/'+set+'.webp' type='image/webp')
		source(srcset='img/index/'+set+'.jpg' type='image/jpeg')
		img.w-100p.h-100p.d-block.obj-c(src='./img/index/'+set+'.jpg' loading='lazy' alt=title height=height width=width)

mixin picture (className='', set='', title='', height='', width='')
	picture(class=className)
		source(srcset='img/webp/index/'+set+'.webp' type='image/webp')
		source(srcset='img/index/'+set+'.jpg' type='image/jpeg')
		img.h-100p.obj-c(src='./img/index/'+set+'.jpg' loading='lazy' alt=title height=height width=width)

mixin picture-wauto (className='', set='', title='', height='', width='')
	picture(class=className)
		source(srcset='img/webp/index/'+set+'.webp' type='image/webp')
		source(srcset='img/index/'+set+'.jpg' type='image/jpeg')
		img.w-auto.obj-c(src='./img/index/'+set+'.jpg' loading='lazy' alt=title height=height width=width)

